
<div id="conteudo" class=" conteudo body-home">
	<h1>Olá, Maker.</h1>
        <div id="textoSuperiorEsquerdo" class="textoSuperiorEsquerdo">
            <p>Tudo bem com você?<p>             
 
                Gostaríamos da sua opinião com relação ao atendimento das suas solicitações de compra do último trimestre.<br>	  
                Clique no botão a baixo para iniciar nossa pesquisa de satisfação.<p> 
                 
                Contamos com você!<p>   		  
               
                Atenciosamente<br>
                Time Compras<p>
        </div>
        
    </div>

<button id="botaoIniciar" class="botaoIniciar" (click)="chamaFormulario()">Iniciar questionário</button>

<div id="rodape" class="rodape">
    Setor de Compras NDD TECH
</div>